class work/class work/songSchema.rnc

start = song
song = element song {header, lyrics}
header = element header {mixed {title, band+}}
title = element title {text}
band = element band {text}
lyrics = element lyrics {mixed {verse|preChorus|chorus|bridge}+}
verse = element verse {l+}
preChorus = element preChorus {l+}
chorus = element chorus {l+}
bridge = element bridge {l+}
l = element l {text}